#CAT{
   display: grid;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 30px;    
    border: 30px;
}

.CAT1{
    margin-bottom: 30px;
    border-style: solid;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 4%;
}