#contenedor {
    background-image: linear-gradient(white, rgb(192, 192, 192));
}





header {
    display: flex;
    justify-content: center;
    align-items: justify;
    padding: 0px;
    margin: 0px;
    border: 0px;

}

.display-1 {

    padding: 0%;
    margin-top: 0px;
    animation-duration: 2s;
    animation-name: fadeIn;
    align-content: space-between;


}

#CartWidget {
    display: flex;
    align-items: center;
}


#logo {
    max-width: 200px;
    max-height: 200px;
}

a {
    text-decoration: none;
    padding: 10px;

}

ul {
    margin-top: 30px;
    display: flex;
    list-style-type: none !important;
    text-decoration: none !important;
    justify-content: space-between;
    align-content: center !important;
    margin-right: 40px;
    font-style: color=black;
}

ul li:hover {
    border-color: black;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    cursor: pointer;
}

hr {

    margin: 0px;
}

#redes {
    align-content: center;
    align-items: center;
    text-align: end;
    padding-right: 3px;

}

.contactar {
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;

}

.barra {
    border: 0px;
    background-color: transparent;
    text-decoration: white;
}

.item-cart-product {

    display: grid;
    max-width: 1000px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.item-cart-product img {
    width: 25px;
}

.item-cart-product img {
    width: 80px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

.cart-product__details {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-cart-product {
    width: 300px;

    align-items: center;
}

.cart-product__details:nth-last-child(2) {
    width: 300px;
    display: flex;
    align-items: center;

}

.cart-product__action {
    width: 10%;
    display: flex;
    align-items: center;
}



.borrarTodo{
    margin: 50px;
}